<div class="supermarket-header">
  <div class="logo">
    <img src="images/marketLogo.png" alt="Supermarket APP Logo">
    <span>Supermarket APP</span>
  </div>

  <div class="currency-displays">
    <div class="currency-box"><span style="color: #6566ae;">$</span> {{usdRate | number:'1.2-2'}}</div>
    <div class="currency-box"><span style="color: #6566ae;">£</span> {{gbpRate | number:'1.2-2'}}</div>
    <div class="currency-box"><span style="color: #6566ae;">€</span> {{eurRate | number:'1.2-2'}}</div>
  </div>

  <div class="form-group has-search" style="position: relative;">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" style="color: white;" class="form-control" placeholder="Ürün Ara" [(ngModel)]="searchText">
    <div class="card" *ngIf="searchText" style="position: absolute;">
      <div *ngFor="let market of markets | productFilter:searchText">
        <h2>{{ market.name }}</h2>
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Aisle</th>
              <th>Products</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of market.items">
              <td>{{ item.type?.name }}</td>
              <td>R {{ item.aisle?.name }}</td>
              <td>
                <ul>
                  <li *ngFor="let product of item.products">
                    {{ product.name }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>